{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Invoice</title>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/invoice.css" %}">
	<script src="{% static 'bootstrap/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<SCRIPT language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var previousRow = rowCount-1;
			table.rows[previousRow].cells[6].innerHTML="";
			var row = table.insertRow(rowCount);


			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "text";
			element1.name ="item-box"+rowCount;
			element1.id ="item-box"+rowCount;
			element1.setAttribute("class","item-box");
			element1.placeholder = "Please Enter Item Name";
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
			cell2.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

			var cell3 = row.insertCell(2);
			var element2 = document.createElement("input");
			element2.type = "number";
			element2.name = "quantity-box"+rowCount;
			element2.setAttribute("class","quantity-box");
			element2.setAttribute("onchange","updateSum();");
			element2.id = "quantity-box"+rowCount;
			element2.value = "0";
			cell3.appendChild(element2);

			var cell4 = row.insertCell(3);
			cell4.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

			var cell5 = row.insertCell(4);
			var element3 = document.createElement("input");
			element3.type = "number";
			element3.name = "price-box"+rowCount;
			element3.id = "price-box"+rowCount;
			element3.setAttribute("class","price-box");
			element3.setAttribute("onchange","updateSum();");
			element3.value = "0";
			cell5.appendChild(element3);

			var cell6 = row.insertCell(5);
			cell6.innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

			var cell7 = row.insertCell(6);
			cell7.innerHTML = "<a href=\"javascript:\" onclick=\"addRow('bill-table')\"><img src=\"static/images/enter1.png\" height='41px' width='50px'>";

			document.getElementById("item_no").value=rowCount;
		}
		function getNameAndEmail() {
			var name = document.getElementById("name-box").value;
			var email = document.getElementById("email-box").value;
			if (name=="")
				name = "Unknown Customer"
			name_and_email.innerHTML= name+"<br>"+email;
		}
		function skip(){
			document.getElementById("hidden_data").value="skip";
		}
		function proceed(){
			document.getElementById("hidden_data").value="proceed";
		}
		function updateSum(){
			var lines = document.getElementById("item_no").value;
			var i = 0;
			var price = 0;
			var quantity = 0;
			var sum = 0;
			var taxAmount = 0;
			var discountAmount = 0;
			var grandTotal = 0;
			var tax = document.getElementById("tax-box").value;
			var discount = document.getElementById("discount-box").value;
			for(i=1;i<=lines;i++){
				var qua = "quantity-box"+i;
				var pri = "price-box"+i;
				quantity = document.getElementById(qua).value;
				price = document.getElementById(pri).value;
				sum = sum + (quantity*price);
				taxAmount = (tax/100)*sum;
				discountAmount = (discount/100)*sum;
				grandTotal = taxAmount + sum - discountAmount;
			}
			document.getElementById("subtotal-box").value = sum;
			document.getElementById("grandtotal-box").value = grandTotal;
			document.getElementById("taxamount-box").value = taxAmount;
			document.getElementById("discountamount-box").value = discountAmount;
			document.getElementById("subtotal-box-1").value = sum;
			document.getElementById("grandtotal-box-1").value = grandTotal;
			document.getElementById("taxamount-box-1").value = taxAmount;
			document.getElementById("discountamount-box-1").value = discountAmount;
		}
		function loadInvoice(invNo){
			var invoice_1 = "<p class=\"invoice_text\">INVOICE</p>" +
												"<p class=\"INV_text\">INV.#-"+invNo+"</p>";

			var customer_1 = "<p class=\"customerdetails_text\">CUSTOMER DETAILS</P>"+
												"<p class=\"name-1\">{{invoice_table.name}}</p>"+
												"<p class=\"email-1\"></p>";


			document.getElementById("invoice-1").innerHTML=invoice_1;
			document.getElementById("customer-1").innerHTML=customer_1;
		}


</SCRIPT>
</head>
<body>
<form method="post" id="newform" name="newform">
{% csrf_token %}
	<div class="invoice---01">
		<div class="Rectangle">
			<a class="Dashboard" href="{% url 'billing' %}">Dashboard</a>
		</div>
		<div class="Invoice-Details">
			Invoice Details
		</div>
		<a href="#Customer_Modal" role="button" data-toggle="modal">
			<div class="Oval">
				<img src="static/images/plus.svg">
			</div>
		</a>
		<div class="Rectangle-12">
			<div class = "invoice-1" id="invoice-1"></div>
			<div class="customer-1" id="customer-1"></div>
			<div class="bill-history">
				<table class="bill-history-table">
					<tr><th>Item</th><th>Quantity</th><th>₹ - Price</th><tr>
				</table>
			</div>
			<div class="bill-history-totals">
				<table>
					<tr><td>Sub Total</td><td></td></tr>
					<tr><td>Tax()</td><td></td></tr>
					<tr><td>Discount()</td><td></td></tr>
					<tr><th>Grand Total</th><th></th></tr>
				</table>
			</div>

		</div>
		<div class="Rectangle-6">
			<div class="Rectangle-2">
				<input id="Rectangle-2_1" type="text" placeholder="Search...">
				<p class = "invoices">INVOICES - {{invoices}}</p>

			</div>
			<div class="Rectangle-list">
				<table class="bill-list">
					{% for record in invoice_table %}
					<tr>
						<td>
							<a href="javascript:" onclick="loadInvoice({{record.invoice_no}});" style="text-decoration:none;">
							<table style="width:348px;border:solid 1px rgb(202, 203, 206);">
								<tr><td style="width:140px;">INV.# -{{record.invoice_no}}</td> <td style="width:170px;">{{record.date}}</td></tr>
								<tr><td style="width:140px;">{{record.name}}</td><td style="width:170px;">₹ - {{record.grand_total}}</td></tr>
							</table>
						</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>

		</div>



	</div>


<!-- Modal for Customer-Details -->
<div id="Customer_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
				<div style="clear: both">
    			<h4 class="Create-New-Invoice" style="float: left">Create New Invoice</h4>
    			<h4 class="Order-No"style="float: right">ORDER NO:{{new}}</h4>
				</div>
				<div class="Customer-Details">
					CUSTOMER DETAILS
				</div>
				<a href="#Bill_Modal" onclick="javascript:skip();" role="button" data-toggle="modal" data-dismiss="modal" style="text-decoration:none;">
					<div class="skip-button">
						<p class="skip">SKIP</p>
					</div>
				</a>
      </div>
      <div class="modal-body">
				<input type="hidden" id="hidden_data" name="hidden_data" value="ready">
				<table>
				  <tr>
				    <th>Full Name</th>
						<th>&nbsp;&nbsp;&nbsp;</th>
				    <th>Phone Number</th>
				  </tr>
				  <tr>
				    <td><input name="name-box" id="name-box" type="text" placeholder="Customer Name" required></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
				    <td><input name="phone-box" id="phone-box" type="text"></td>
				  </tr>
				  <tr>
				    <td>Address</td>
						<td>&nbsp;&nbsp;&nbsp;</td>
				    <td>Email Id</td>
				  </tr>
				  <tr>
				    <td rowspan="3"><textarea id="address-box" name="address-box" placeholder="Complete Address"></textarea></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
				    <td><input name="email-box" id="email-box" type="email" placeholder="Customer Email Address"></td>
				  </tr>
				  <tr>
						<td>&nbsp;&nbsp;&nbsp;</td>
				    <td>Pincode</td>
				  </tr>
				  <tr>
						<td>&nbsp;&nbsp;&nbsp;</td>
				    <td><input name="pin-box" id="pin-box" type="text" placeholder="560067"></td>
				  </tr>
				</table>
      </div>
      <div class="modal-footer">
				<a href="#Bill_Modal" onclick="javascript:proceed();getNameAndEmail();" role="button" data-toggle="modal" data-dismiss="modal" style="text-decoration:none;">
					<div class="proceed_button">
        		<p class="proceed">Proceed</p>
					</div>
				</a>
				<br><br>
			</div>
    </div>

  </div>
</div>



<!-- Modal for bills -->
<div id="Bill_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
				<div style="clear: both">
    			<h4 class="Create-New-Invoice" style="float: left">Create New Invoice</h4>
    			<h4 class="Order-No"style="float: right">ORDER NO:{{new}}</h4>
				</div>
				<div class="Customer-Details">
					PRODUCT DETAILS
				</div>
				<div class="name_and_email" id="name_and_email">

				</div>
				<a href="#Customer_Modal" role="button" data-toggle="modal" data-dismiss="modal" style="text-decoration:none;">
					<div class="edit-button"></div>
				</a>
      </div>
      <div class="modal-body">
				<table id="bill-table" class="bill-table">
    			<tr>
        		<th>Item</th>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        		<th>Quantity</th>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
						<th>Price - ₹</th>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    			</tr>
    			<tr>
        		<td><input name="item-box1" id="item-box1" class="item-box" type="text" placeholder="Please Enter Item Name"></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td><input name="quantity-box1" type="number" class="quantity-box" onchange="javascript:updateSum();" id="quantity-box1"  value="0"></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td><input name="price-box1" type="number" class="price-box" onchange="javascript:updateSum();" id="price-box1"  value="0"></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td><a href="javascript:" onclick="addRow('bill-table')"><img src="static/images/enter1.png" height='41px' width='50px'></a></td>
					</tr>
				</table>
				<input type="text" name="tax-box" id="tax-box" placeholder="Tax" onchange="javascript:updateSum()">
				<input type="text" name="discount-box" id="discount-box" placeholder="Discount" onchange="javascript:updateSum()">
				<div class="total">
					<p class="Subtotal">Sub Total:
					<input type="number" name="subtotal-box" id="subtotal-box" value="0" disabled>
					<input type="hidden" name="subtotal-box-1" id="subtotal-box-1" value ="0">
					</p>
				</div>
				<input type="hidden" id="item_no" name="item_no" value="1">
			</form>
      </div>
      <div class="modal-footer">
				<div class="taxAmount">
					<h5 id="taxAmount-head">Tax</h5>
					<input type="text" name="taxamount-box" id="taxamount-box" value="0" disabled>
					<input type="hidden" name="taxamount-box-1" id="taxamount-box-1" value ="0">
				</div>
				<div class="discountAmount">
					<h5 id="discountAmount-head">Discount</h5>
					<input type="text" name="discountamount-box" id="discountamount-box" value="0" disabled>
					<input type="hidden" name="discountamount-box-1" id="discountamount-box-1" value ="0">
				</div>
				<div class="grandTotal">
					<h5 id="grandTotal-head">Grand Total</h5>
					<input type="text" name="grandtotal-box" id="grandtotal-box" value="0" disabled>
					<input type="hidden" name="grandtotal-box-1" id="grandtotal-box-1" value ="0">
				</div>
				<a href="javascript:" onclick="document.forms.newform.submit();" role="button" data-toggle="modal" style="text-decoration:none;">
					<div class="save_button">
        		<p class="save">Save</p>
					</div>
				</a>
				<br><br>
			</div>
    </div>

  </div>
</div>


</body>
</html>
